<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server</key>
	<string>http://mobile.yanxiu.com/v17/api/</string>
	<key>mockFrameworkOn</key>
	<false/>
	<key>testFrameworkOn</key>
	<false/>
</dict>
</plist>
