<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxTimeUse</key>
	<integer>2</integer>
	<key>data</key>
	<dict>
		<key>YXExamineRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>examine_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXTrainListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>trainlist_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXTaskListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>tasklist_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXCourseListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>courselist_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXCourseDetailRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>coursedetail_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXModuleDetailRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>moduledetail_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXCourseRecordRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>courserecord_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXHomeworkListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>homeworklist_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXHomeworkInfoRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>homeworkInfo_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXRotateListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>getRotateList_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>ActivityFilterRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>activityFilter_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>ActivityListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>activityList_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>ActivityStepListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>activityStep_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>ShareResourcesRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>shareResources_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>DownloadResourceRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>downloadResource_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>ActivityFirstCommentRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>firstComment_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>BeijingActivityFilterRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>beijingActivityFilter_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>MasterStatRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>masterStat_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>MasterManageListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>masterManageList_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>MasterLearningInfoListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>masterLearningInfoList_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXVideoQuestionsRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>videoQuestions_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXSubmitAnswerRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>submitAnswer_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>TrainLayerListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>trainLayerList_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>TrainSelectLayerRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>selectLayer_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>NoticeAndBriefDetailRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>noticeAndBriefDetail_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>ExamineDetailRequest_17</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>masterStat_mock_17.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>PersonalExamineRequest_17</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>personalExamine_mock_17.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>CourseListRequest_17</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>courseList_mock_17.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>CourseHistoryListRequest_17</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>courseList_mock_17.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
