<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxTimeUse</key>
	<integer>2</integer>
	<key>data</key>
	<dict>
		<key>YXGetSubjectRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>subject_mock.json</string>
					<key>percent</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>fileName</key>
					<string>subject_errorcode_mock.json</string>
					<key>percent</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>fileName</key>
					<string>subject_neterror_mock.json</string>
					<key>percent</key>
					<integer>20</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
