<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxTimeUse</key>
	<integer>2</integer>
	<key>data</key>
	<dict>
		<key>YXExamineRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>examine_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXTrainListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>trainlist_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXTaskListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>tasklist_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXCourseListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>courselist_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXCourseDetailRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>coursedetail_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXModuleDetailRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>moduledetail_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXCourseRecordRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>courserecord_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXHomeworkListRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>homeworklist_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>YXHomeworkInfoRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>homeworkInfo_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
